.technology-container {
  position: relative;
  background: url("../../../public/technology/background-technology-desktop.jpg")
    no-repeat;
  background-size: cover;
  padding: 22rem 15rem;
  min-height: 100vh;

  @media screen and (max-width: 430px) {
    background: url("../../../public/technology/background-technology-mobile.jpg")
      no-repeat;
    background-size: cover;
    padding: 15rem 3rem;
  }

  @media (min-width: 768px) and (max-width: 1180px) {
    background: url("../../../public/technology/background-technology-tablet.jpg")
      no-repeat;
    background-size: cover;
    padding: 15rem 3rem;
  }
}

.technology-title {
  font-family: var(--font-barlow-condensed);
  display: flex;

  @media screen and (max-width: 430px) {
    text-align: center;
    justify-content: center;
  }

  span {
    display: inline-block;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: 0.47rem;
    color: hsl(0, 0%, 100%);
    filter: opacity(25%);

    @media screen and (max-width: 430px) {
      font-size: 1.6rem;
    }

    @media (min-width: 768px) and (max-width: 1180px) {
      font-size: 2rem;
    }
  }

  h1 {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.47rem;
    color: var(--color-white);
    text-transform: uppercase;

    @media screen and (max-width: 430px) {
      font-size: 1.6rem;
    }

    @media (min-width: 768px) and (max-width: 1180px) {
      font-size: 2rem;
    }
  }
}

.tech-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;

  @media screen and (max-width: 430px) {
    flex-direction: column-reverse;
  }

  @media (min-width: 768px) and (max-width: 1180px) {
    flex-direction: column-reverse;
  }
}

.tech-detail {
  display: flex;
  gap: 10rem;

  @media screen and (max-width: 430px) {
    text-align: center;
    flex-direction: column;
    gap: 5rem;
  }

  @media (min-width: 768px) and (max-width: 1180px) {
    text-align: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 5rem;
  }

  .tech-tabs {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 430px) {
      flex-direction: row;
      justify-content: center;
      margin-top: 2rem;
    }

    @media (min-width: 768px) and (max-width: 1180px) {
      flex-direction: row;
      justify-content: center;
      margin-top: 20rem;
    }

    button {
      width: 8rem;
      height: 8rem;
      font-family: var(--font-bellefair);
      font-weight: 400;
      font-size: 3.2rem;
      border: 1px solid var(--color-blue);
      border-radius: 50%;
      outline: none;
      background: transparent;
      color: var(--color-white);
      margin: 3rem 0rem 0rem 0rem;
      cursor: pointer;
      text-align: center;

      @media screen and (max-width: 430px) {
        width: 40px;
        height: 40px;
        margin: 0rem 1rem 0rem 0rem;
        font-size: 1.6rem;
      }

      @media (min-width: 768px) and (max-width: 1180px) {
        width: 60px;
        height: 60px;
        margin: 0rem 1rem 0rem 0rem;
        font-size: 2.4rem;
      }
    }

    .active {
      background-color: var(--color-white);
      color: var(--color-dark);
    }
  }

  .tech-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    span {
      display: inline-block;
      font-family: var(--font-barlow-condensed);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.9rem;
      letter-spacing: 0.27rem;
      text-transform: uppercase;
      color: var(--color-blue);
      margin-bottom: 2rem;

      @media screen and (max-width: 430px) {
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.23rem;
      }

      @media (min-width: 768px) and (max-width: 1180px) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.27rem;
      }
    }

    h1 {
      font-family: var(--font-bellefair);
      font-weight: 400;
      font-size: 5.6rem;
      line-height: 6.4rem;
      color: var(--color-white);
      text-transform: uppercase;

      @media screen and (max-width: 430px) {
        font-size: 2.4rem;
        line-height: 2.8rem;
      }

      @media (min-width: 768px) and (max-width: 1180px) {
        font-size: 4rem;
        line-height: 4.5rem;
      }
    }

    p {
      font-family: var(--font-barlow);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3.2rem;
      color: var(--color-blue);
      word-break: break-all;
      width: 445px;

      @media screen and (max-width: 430px) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: auto;
      }

      @media (min-width: 768px) and (max-width: 1180px) {
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
  }
}

.tech-img {
  position: absolute;
  right: 0;

  @media screen and (max-width: 430px) {
    top: 22%;
  }

  @media (min-width: 768px) and (max-width: 1180px) {
    top: 20%;
    left: 0;

    img {
      width: 100%;
    }
  }
}
