@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-bellefair: "Bellefair", serif;
  --color-dark: hsl(230, 35%, 7%);
  --color-blue: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}
